
.db-wrapper{
    position:relative;
    width:1040px;
    margin: 30px auto;
}
.content-left{
    width:675px;
    margin-right:10px;
}
.populer-article{
    width:675px;
    margin-top:30px;
}
.header{
    width:675px;
    border-bottom:2px solid #02A682;
}
.header li{
    display:inline-block;
    padding:3px 0;
    color:#aaa;
    font-size:12px;
    cursor:pointer;
}
.header li.active-two{
    color:#333;
    font-size:16px;
}

.music{
    width:660px;
    margin:0 auto;
    display:none;
}
.music::after{
    content:"";
    clear:both;
    display:block;
}
.show{
    display:block;
}
.music li{
    float:left;
    width:140px;
    height:190px;
    margin: 10px 20px 10px 0;
    border:1px solid #dde;
}
.music .img-box{
    width:130px;
    height:130px;
    margin:5px auto;

}
.music .img-box img{
    width:100%;
    height:100%;
}
.music .item{
    width:140px;
    margin-top:6px;
}
.item p{
    width:140px;
    text-align:center;
    padding-bottom: 8px ;
}
.content-right{
    position:absolute;
    right:0;
    top:0;
    width:300px;
    background-color:#f5f7f8;
}
.join{
    width:300px;
    position:relative;
    /* display:flex; */
}
.join::after{
    content:"";
    clear:both;
    display:block;
}
.join-block{
    width:99px;
    border-right:1px solid #fff;
    float:left;
    text-align:center;
}
.join-block h2{
    color:#138a64;
    margin:10px 0 6px ;
    font-size:16px;
}
.join-block p{
    font-size:15px;
    /* margin-bottom:5px; */
}

.join-in{
    position:absolute;
    top:55px;
    height:40px;
    width:300px;
    margin:5px 0 20px;
    border-radius:5px;
    line-height:40px;
    text-align:center;
    font-size:18px;
    color:#fff;
    background-color:#138A64;
}
.music-tags{
    position:absolute;
    top:140px; 
    width:300px;
}
.tags-header{
    font-size:18px;
    float:left;
}
.tags-more{
    float:right;
}
.tags-more a{
    display:inline-block;
    height:12px;
    color:#888;
    font-size:12px;
}
table{
    position:absolute;
    top:30px;
    width:100%;
}
td{
    width:150px;
    height:36px;
    line-height:36px;
    font-size:16px;
    color:#138A64;
}


